*{
    margin:0 auto;
    padding: 0;
}

body{
    font-family: "Oswald", sans-serif;
    background-color: rgb(29, 3, 63);
    align-items: center;
}


#selfContainer{
    margin:0; auto;
    display: flex;
    align-items: center;
    padding: 70px;
    background-color: aliceblue;
    width: 1400px;
    gap: 50px;
    color:#444444

}

.containerTwo{
    padding: 70px;
    background-color: aliceblue;
    width: 1400px;
    gap: 50px;
    color:#444444

}

nav{
    text-transform: uppercase;
    font-size: 30px;
    background-color:gold;
    padding:50px;
    
    
}


nav a{
    text-decoration: none;
    color: #444444;
    text-align: center;

}

section{
    padding: 20px;

}

.sectionOne{  
    align-items: center;

}

.sectionOne img{
    text-align: right;

}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
}



h5{
    font-weight: 400;

}

p{
    font-size: 20px;

}

#hobbyContainer{
    text-align: center;
    display: inline-block;
    font-size: 30px;

}

footer{
    text-align: center;
    padding: 20px 0px;
    color: aliceblue;

}